*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  height: max-content;
}

.score {
  color: white;
  font-weight: 400;
  position: fixed;
  /* right: 10%; */
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

#ground {
  --top: 0;
  position: absolute;
  width: 100%;
  height: 120%;
  bottom: 0;
  top: calc(var(--top) * 1%)
}

.car {
  --left: 50%;
  position: absolute;
  bottom: 10px;
  height: 30%;
  left: calc(var(--left) * 1%);
}

.cactus {
  --top: 0;
  --left: 0;
  position: absolute;
  height: 13%;
  bottom: 0;
  top: calc(var(--top) * 1%);
  left: calc(var(--left) * 1%);
}

.coin {
  --top: 0;
  --left: 0;
  position: absolute;
  height: 5%;
  bottom: 0;
  top: calc(var(--top) * 1%);
  left: calc(var(--left) * 1%);
}

.log {
  --top: 0;
  --left: 0;
  position: absolute;
  height: 5%;
  bottom: 0;
  top: calc(var(--top) * 1%);
  left: calc(var(--left) * 1%);
}

.dumpster {
  --top: 0;
  --left: 0;
  position: absolute;
  height: 5%;
  bottom: 0;
  top: calc(var(--top) * 1%);
  left: calc(var(--left) * 1%);
}
.scoreDisplay{
  position: absolute;
  font-size: 4vmin;
  top: 175%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startBackGround{
  position:absolute;
  top: 100%;
margin-left: auto;
margin-right: auto;
}
#title{
position:absolute;
top: -100%;
font-style: oblique;
font-size: 5vmin;
font-weight: 500;
left: 18%

}